body, html {
    height: 100%;
    width: 100%;
    background-color: #000; 
}

#fireworks-container {
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Pacifico', cursive; 
    color: #ff69b4;
    text-align: center;
    font-size: 100px; 
    animation: fadeIn 10s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.particle {
    position: absolute;
    width: 6.5px; 
    height: 6.5px;
    border-radius: 50%;  
}